extends layout

block content
  h1= title
  - const donuts = ['cost','quantity','donut_type']
  - let results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
      each results, index in donuts
        div(class='col-sm-2' onclick='buy('+index+')') #{results}

