extends layout

block content
  h1= title
  - const mango = ['types','taste','cost']
  - let results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
   div(class='row')
      each results, index in mango
        div(class='col-sm-2' onclick='buy('+index+')') #{results} 